body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00000000;
}

header {
    background-color: #ff2800;
    color: #fff200;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff200;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #ff2800;
    color: #fff200;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.container {
    display: flex; 
}

.div1, .div2 {
    width: 50%; /* Ajuste a largura conforme necessário */
    padding: 20px;
    box-sizing: border-box; /* Para incluir padding na largura total */
}

.div1 {
    background-color: #46434368;
}

.div2 {
    background-color: #46434368;
}
